.nav {
	grid-area: nav;
	display: flex;
	align-items: center;
	justify-content: center;
	&__list {
		display: flex;
		gap: 20px;
	}

	&__item {
		font-size: 14px;
		text-decoration: none;
		color: #fff;
		height: 100%;
		line-height: 54px;

		&:hover {
			color: #CAFA7A;
		}
	}
}

@media (max-width: 800px) {
	.nav {
		&__item {
			line-height: 30px;
		}
	}
}